.localhistory
.ipynb_checkpoints
.*.ipynb
.pytest_cache
*egg-info*
__pycache__
.*
devel
output
build
dist
site
htmlcov
Untitled*.ipynb
"nohup.out" 
nohup.out
InnoSetup/Output
*lock
ChEBI.tsv
data.sqlite
app.db
docs/_*