numpy
pandas
plotly
lxml
matplotlib
pandoc
plotly
plotly_express
dash
scipy==1.6.2
setuptools
statsmodels
flask
pyteomics
openpyxl
colorlover
dash-bootstrap-components
dash-extensions
dash-tabulator
scikit-learn
xlrd
urllib3
ipywidgets
pymzml
tqdm
seaborn
ipyfilechooser
waitress
pyarrow>=3
flask-compress
molmass
filelock
wget
bs4
pytest-cov
jsbeautifier
six
tables
flask-login
flask-wtf
flask-migrate
flask-login
alembic
email_validator
./local_wheels/dash_uploader-0.5.0-py3-none-any.whl

