pytest
six
jsonschema
entrypoints
pygments
pexpect
decorator
pillow
lxml
pandas>=1.4,<1.5
matplotlib>=3.5,<3.6
seaborn
pyteomics
scikit-learn
molmass
pymzml
plotly
colorlover
tqdm
ipywidgets
ipyfilechooser
openpyxl
pyarrow
tables
h5py
hdf5plugin

sphinx
sphinx-rtd-theme
myst-parser
